@page
@using AnonymForum2.Models;
@model AnonymForum2.Pages.ThreadModel
@{
}

<a asp-page="Post" asp-route-Id="@Model.OriginalTopicId" asp-route-Name="@Model.Name">Tillbaka</a>

<div>
    @foreach (var itemz in ViewData["postList"] as List<Post>)
    {
        <div style="
                border: 2px solid black;
                padding: 6px;
                margin-bottom: 6px;
                ">
                <div style="
                    display:flex;
                    justify-content: space-between;
                    font-weight: bold;
                ">
                    <p>@itemz.Title</p>
                    <p>@itemz.TimePosted</p>
                </div>
                <div style="margin-left: 5px;">
                    <p>@itemz.Contents</p>
                </div>
                <div>
                <a asp-page="Reply" asp-route-OriginalPostId="@itemz.Id" asp-route-TopicId="@Model.OriginalTopicId" asp-route-Name="@Model.Name">Reply</a>
                </div>
        </div>
    }
</div>

<div>
    <table>
        <tbody>
            @foreach (var item in ViewData["replyList"] as List<Reply>)
            {
                <tr>
                    <td>
                        <div style="
                        border: 2px solid LightGrey;
                        padding: 6px;
                        margin-bottom: 6px;
                        ">
                            <div style="
                        display:flex;
                        justify-content: space-between;
                        font-weight: bold;
                        ">
                                <p>@item.ReplyDate</p>
                            </div>
                            <div style="margin-left: 5px;">
                                <p>@item.Contents</p>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>